In [1]:
!pip install numpy
!pip install pandas
!pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /usr/lib/python3/dist-packages (1.21.5)
Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.4.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 4.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/wanje/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/lib/python3/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.4.3

In [27]:
import re

result = re.match('(\d{2,3})-(\d{3,4})-(\d{4})', '052-123-4567')
print(result.groups())
print(result.group())
print(result.group(0))
print(result.group(1))
print(result.group(2))
print(result.group(3))


# ('02', '123', '1234')
# 02-123-1234
# 02-123-1234
# 02
# 123

('052', '123', '4567')
052-123-4567
052-123-4567
052
123
4567

In [2]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 KB 2.9 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [64]:
import pandas as pd

In [65]:
receive = pd.read_excel('receive.xlsx')

In [66]:
receive.columns

Index(['구매자명', '수취인명', '수취인연락처1', '배송지', '상품명', '옵션정보', '수량', '주문번호', '상품주문번호',
       '배송방법(구매자 요청)', '택배사', '송장번호', '배송방법', '발송일', '판매채널', '구매자ID', '주문상태',
       '주문세부상태', '결제위치', '결제일', '상품번호', '상품종류', '옵션관리코드', '옵션가격', '반품안심케어',
       '상품가격', '상품별 할인액', '판매자 부담 할인액', '상품별 총 주문금액', '사은품', '발주확인일', '발송기한',
       '발송처리일', '송장출력일', '배송비 형태', '배송비 묶음번호', '배송비 유형', '구매자연락처', '배송비 합계',
       '제주/도서 추가배송비', '배송비 할인액', '판매자 상품코드', '판매자 내부코드1', '판매자 내부코드2',
       '수취인연락처2', '풀필먼트사(주문 기준)', '우편번호', '배송메세지', '출고지', '결제수단', '개인통관고유부호',
       '주문일시', '배송속성', '배송희망일'],
      dtype='object')

In [67]:
send = pd.read_excel('send.xlsx')
send.columns

Index(['NO', 'Unnamed: 1', '선택', '접수 순서', '예약 구분', '상태', '집화예정일자', '운송장번호',
       '집화예정점소', '보내는분', '보내는분 전화번호', '운임 구분', '박스 타입', '수량', '내품수량', '기본운임',
       '기타운임', '운임합계', '고객주문번호', '배송계획점소', '받는분', '받는분 전화번호', '받는분  우편번호',
       '받는분주소', '상품코드', '상품명', '단품코드', '단품명', '배달메시지', '기타1', '기타2', '기타3',
       '기타4', '기타5', '기타6', '기타7', '기타8', '기타9', '기타10'],
      dtype='object')

In [68]:
receive['수취인연락처1']

0      010-8948-1484
1      010-4154-8898
2      010-2350-4845
3      010-1548-8412
4     0502-1454-2701
5     0502-8984-6050
6      010-5318-1219
7      010-4848-9948
8      010-9868-1111
9      010-4370-3232
10     010-4370-3232
11               NaN
12               NaN
13               NaN
14               NaN
15               NaN
16               NaN
17               NaN
18               NaN
19               NaN
Name: 수취인연락처1, dtype: object

In [69]:
p = '\d{2}\d{4}\d{4}'
m = re.match(pattern=p, string='1031913232.0')
print(m)

<re.Match object; span=(0, 10), match='1031913232'>

In [70]:
send['받는분 전화번호'].astype(str)

0      1031913232.0
1      1089481484.0
2      1041548898.0
3      1024184444.0
4      1053181219.0
5      1074027982.0
6      1045744878.0
7      1043703232.0
8      1055192323.0
9      1098681111.0
10     1096648429.0
11     1023686969.0
12     1075355428.0
13     1023504845.0
14     1023705324.0
15     1065580707.0
16     1028381400.0
17     1049447475.0
18     1020368672.0
19     1048489948.0
20     1062416352.0
21     1031734848.0
22     1046463128.0
23    50215763333.0
24    50289846050.0
25     1056444875.0
26    50214542701.0
27    50234762315.0
28     1085858039.0
29     1015488412.0
30              nan
31              nan
32              nan
33              nan
34              nan
35              nan
Name: 받는분 전화번호, dtype: object

In [71]:
number = send[['받는분','운송장번호','받는분 전화번호']]
send['받는분 전화번호']
number.iloc[0]

받는분                    설종혁
운송장번호       6502-6654-8354
받는분 전화번호      1031913232.0
Name: 0, dtype: object

In [72]:
receive[['수취인명','송장번호']]

   수취인명  송장번호
0   이상곤   NaN
1   배희영   NaN
2   이창희   NaN
3   이준희   NaN
4   오동현   NaN
5   오윤석   NaN
6   오세웅   NaN
7   최영희   NaN
8   조완제   NaN
9   조희제   NaN
10  조희제   NaN
11  NaN   NaN
12  NaN   NaN
13  NaN   NaN
14  NaN   NaN
15  NaN   NaN
16  NaN   NaN
17  NaN   NaN
18  NaN   NaN
19  NaN   NaN

In [73]:
receive['송장번호']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
Name: 송장번호, dtype: float64

In [75]:
num = len(number)
for i in range(num):
    send_name = number.iloc[i,0]
    phone_num = number.iloc[i,2].astype(str)
    changed_num = '0' + phone_num[:-2]
    if changed_num[:3]=='010':
        real_num=changed_num[:3]+'-'+changed_num[3:-4]+'-'+changed_num[-4:]
    else:
        real_num=changed_num[:-8]+'-'+changed_num[-8:-4]+'-'+changed_num[-4:]
    pick = (receive['수취인명']==send_name) & (receive['수취인연락처1']==real_num)
    
    receive.loc[pick,'송장번호']=number.iloc[i,1]

In [76]:
receive['송장번호']

0     6502-6654-8365
1     6502-6654-8376
2     6502-6654-8483
3     6502-6654-8656
4     6502-6654-8623
5     6502-6654-8590
6     6502-6654-8391
7     6502-6654-8542
8     6502-6654-8446
9     6502-6654-8424
10    6502-6654-8424
11               NaN
12               NaN
13               NaN
14               NaN
15               NaN
16               NaN
17               NaN
18               NaN
19               NaN
Name: 송장번호, dtype: object

In [77]:
receive.to_excel('recevie_final.xlsx')